@font-face {
    font-family: simple;
    src: url(./xn7gYHE41ni1AdIRggexSg\ \(1\).woff2);

}
*{margin: 0;
    padding: 0;
    box-sizing: border-box;    
    
}
html,body{
    width: 100%;
    height: 100%;

}

@keyframes scroll {
    0%{
        transform: translateX(1500px);
    }
    100%{
        transform: translateX(-1500px);
    }
}

#animation1 {
    animation-name:scroll;
    animation-duration: 25s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-direction:normal;
    transition: all cubic-bezier(0.19, 1, 0.22, 1).8s;
}
main{
    border: 50px solid ;
    border-image-source:linear-gradient(to right, rgba(150, 229, 255, 0.334),rgba(126, 126, 216, 0.521), rgba(253, 165, 209, 0.823),rgba(126, 126, 237, 0.741)) ;
    border-image-slice: 1;
}